
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Maker</title>

    
</head>
<body>
    <div class="container">
        <header id="resume">RESUME MAKER</header>
        <h1 class="hd">PERSONAL DETAILS</h1>

        <div class="details">
            <form action="/" class="info" method="POST">
                <div>
                    <h2 class="heading">First Name:</h2>
                    <input type="text" name="name" id="fname" placeholder="Enter your First Name">
                </div>
                <div>
                    <h2 class="heading">Last Name:</h2>
                    <input type="text" name="name" id="lname" placeholder="Enter your Last Name">
                </div>
                <div>
                    <h2 class="heading">Contact:</h2>
                    <input type="tel" name="contact" id="contact" placeholder="Enter your Contact No">
                </div>
                <div>
                    <h2 class="heading">Email:</h2>
                    <input type="text" name="email" id="email" placeholder="Enter your Email Id">
                </div>
                <div>
                    <h2 class="heading">Address:</h2>
                    <input type="text" name="address" id="address" placeholder="Enter your Address">
                </div>
                <div>
                    <h2 class="heading">City:</h2>
                    <input type="text" name="city" id="city" placeholder="Enter your City">
                </div>
                <div>
                    <h2 class="heading">State:</h2>
                    <input type="text" name="state" id="state" placeholder="Enter your State">
                </div>
                <div>
                    <h2 class="heading">Country:</h2>
                    <input type="text" name="country" id="country" placeholder="Enter your Country">
                </div>
                <div>
                    <h2 class="heading">Pincode:</h2>
                    <input type="number" name="pincode" id="pincode" placeholder="Enter your Pincode">
                </div>
                <div>
                    <h2 class="heading">College:</h2>
                    <input type="text" name="college" id="college" placeholder="Enter your College Name">
                </div>
                <div>
                    <h2 class="heading">Admission Year:</h2>
                    <input type="number" name="adyear" id="adyear" placeholder="Enter your Year of Admission">
                </div>
                <div>
                    <h2 class="heading">Graduation Year(or expected):</h2>
                    <input type="number" name="gradyear" id="gradyear" placeholder="Enter your Year of Graduation">
                </div>
                <div>
                    <h2 class="heading">CGPA:</h2>
                    <input type="number" name="cgpa" id="cgpa" placeholder="Enter your CGPA">
                </div>
                <div>
                    <h2 class="heading">Percentage:</h2>
                    <input type="number" name="percent" id="percent" placeholder="Enter your Percentage">
                </div>
                <div>
                    <h2 class="heading">Course Work:</h2>
                    <input type="text" name="core" id="core" placeholder="Enter your Course Work">
                </div>
                <div>
                    <h2 class="heading">Professional Association:</h2>
                    <input type="text" name="association" id="association" placeholder="Enter your Associations in College">
                </div>
                <div>
                    <h2 class="heading">Objective:</h2>
                    <input type="text" name="objective" id="objective" placeholder="Enter your Objective">
                </div>
                <div>
                    <h2 class="heading">Skill:</h2>
                    <input type="text" name="skill" id="skill" placeholder="Enter your Skills">
                </div>
                <div>
                    <h2 class="heading">Hobby:</h2>
                    <input type="text" name="hobby" id="hobby" placeholder="Enter your Hobbies">
                </div>
                <div>
                    <h2 class="heading">Project Title:</h2>
                    <input type="text" name="proname" id="proname" placeholder="Enter your Project Title">
                </div>
                <div>
                    <h2 class="heading">From:</h2>
                    <input type="text" name="profrom" id="profrom" placeholder="Enter your From Time">
                </div>
                <div>
                    <h2 class="heading">To:</h2>
                    <input type="text" name="proto" id="proto" placeholder="Enter your To Time">
                </div>
                <div>
                    <h2 class="heading">Description:</h2>
                    <input type="text" name="prodescription" id="prodescription" placeholder="Enter your Project Description">
                </div>
                <div>
                    <h2 class="heading">Internship Title:</h2>
                    <input type="text" name="intitle" id="intitle" placeholder="Enter your Internship Title">
                </div>
                <div>
                    <h2 class="heading">From:</h2>
                    <input type="text" name="infrom" id="infrom" placeholder="Enter your From Time">
                </div>
                <div>
                    <h2 class="heading">To:</h2>
                    <input type="text" name="into" id="into" placeholder="Enter your To Time">
                </div>
                <div>
                    <h2 class="heading">Description:</h2>
                    <input type="text" name="indescription" id="indescription" placeholder="Enter your Internship Description">
                </div>
                
                <div>
                    <h2 class="heading">Achievement:</h2>
                    <input type="text" name="achievement" id="achievement" placeholder="Enter your Achievements">
                </div>
                <div>
                    <h2 class="heading">Github Link:</h2>
                    <input type="text" name="github" id="github" placeholder="Enter your Github account link">
                </div>
                <div>
                    <h2 class="heading">LinkedIn Link:</h2>
                    <input type="text" name="linkedin" id="linkedin" placeholder="Enter your LinkedIn account link">
                </div>
                <button id="but" type="submit" >Next</button>
                
                
            </form>
           
            <a href="/pdf" target="blank"><button id="but"  >View pdf</button></a>
            
        </div>
        
    </div>
</body>
</html>
