body{
    background: url('../bg.jpg') left no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    height: auto; 
    opacity: 0.96;
    z-index: -1;
    font-family: 'Karla', sans-serif;
    font-size: 1.5vw;
}

.container {
    margin: auto;
    border: 2px solid black;
    background-color: white;
    
    margin-top: 100px;
}

 ::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2em;
}

legend {
    display: block;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    margin: auto;
    color: #0ec9be;
}

input,
textarea {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: wheat;
    justify-content: center;
}

textarea {
    width: 100%;
}

label {
    display: inline;
}

#submit {
    clear: both;
    margin: 30px auto;
}

fieldset {
    margin: 5px;
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    padding: 3px;
    text-align: center;
}