<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>{% if command=='login' %} 
    $(document).ready(function(){
        $("#Login_modal").modal('show');
    });{% endif %}
</script>
<script>{% if command=='signup' %} 
    $(document).ready(function(){
        $("#Login_modal").modal('show');
    });{% endif %}
</script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <title>NXT: Resume Maker</title>
    <link rel="icon" type="image/jgp" href="{{ url_for('static',filename='final_logo().jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body style=" background:url({{ url_for('static',filename='Hpme2.jpg')}});
background-size:150%;">
<!--navbar-->

    <nav class="navbar navbar-expand-lg navbar-light container-fluid dark"
        style="position: fixed; z-index: 2; background-color: rgb(223, 223, 223);">
        <a class="navbar-brand" href="#">
            <img  src="{{ url_for('static',filename='final_logo().jpg') }}" width="70" height="70"  class="d-inline block align-top border border-white rounded" alt="Dummy_logo.pdf"><br>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item" role="presentation">
                    <a {% if command=='logged out' %}class="nav-link active" {% else %}class='nav-link'{% endif %} data-toggle="pill" href="#Home" id="Home-tab" role="tab" aria-controls="Home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('template') }}" >Make Resume</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a {% if command =='logged in' %}class="nav-link active"{% else %}class='nav-link'{% endif %}  href="#My_Resume" data-toggle="pill" id="My_Resume-tab" role="tab" aria-controls="My_Resume" aria-selected="false">My Resume</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#About" data-toggle="pill" id="About-tab" role="tab" aria-controls="About" aria-selected="false">About Us</a>
                </li>
                {% if command=='logged in' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sign Out</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
   

<!--Homepage-->
<fieldset class="tab-content container" id="pills-tabContent">
    <!--Home-->
    <br> <br><p></p> <br>
    <div {% if command=='logged out' %}class="tab-pane fade show active" {% else %}class='tab-pane fade'{% endif %} id="Home" role="tabpanel" aria-labelledby="Home-tab">
        <section id="basic_font_and_centering">
            <h1 style="text-align:center ;font-family: 'Odibee Sans', cursive; font-size: 5.5rem;
    padding: 5px; font: outline;">Welcome to NXT:<br>Resume Maker</h1>
            <h3 style="text-align:center ;font-family: 'Odibee Sans', cursive; padding: 12px; font: outline;">Your destination for simple,professional resume.</h3>
            <p style="font:x-large bolder ">Here are our templates for the resumes:</p>
    
            <!--Template - SlideShow -->
    
            <div id="SlideShow" class="container-fluid carousel slide cols-lg-12" data-ride="carousel" style="background-color: black;">
                <ol class="carousel-indicators">
                    <li data-target="#SlideShow" data-slide-to="0" class="active"></li>
                    <li data-target="#SlideShow" data-slide-to="1"></li>
                    <li data-target="#SlideShow" data-slide-to="2"></li>
                    <li data-target="#SlideShow" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner p-3">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static',filename='FinalTemplate-1.jpg') }}" class="container" alt="Template-1.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Template 1</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static',filename='FinalTemplate-2.jpg') }}" class="container"  alt="Template-2.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Template 2</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static',filename='FinalTemplate-3.jpg') }}" class="container" alt="Template-3.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Template 3</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static',filename='FinalTemplate-4.jpg') }}" class="container" alt="Template-4.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Template 4</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#SlideShow" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon btn-info h-50" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next success" href="#SlideShow" role="button" data-slide="next">
                    <span class="carousel-control-next-icon btn-info h-50" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        <br>
        <div id="button1" class="d-flex justify-content-center container w-80 p-2 border border-sucess"
        style="background: white;">
        <a class="btn btn-info " href="{{ url_for('template') }}"
        style=" font-size: 1.5rem;  cursor: pointer; border-radius: 20px; border: 10px solid white ; opacity: 100%;">Make
        your Professional Resume Now!</a>
        </div>
        </section>
    </div>
    
    
    
    
    <!--My Resume-->
 <br>
{% if command=='logged in' %}
<div class="tab-pane fade show active" id="My_Resume">
    <h2>Home Page</h2>
    <p>Welcome back, {{ username }}!</p>
    <section id="basic_font_and_centering" class=" container w-80 p-4 border border-warning"
    style="background: white;">
    <p style="font-size:xx-large; background: white;">You have no previously made resume.</p><br>
    <button class="btn btn-info"
        style=" font-size: 1.5rem;  cursor: pointer; border-radius: 20px; border: 10px solid white;">Make New
        Resume</button>
</section>
</div>

   {% else %}





    <div class="tab-pane fade" id="My_Resume" role="tabpanel" aria-labelledby="My_Resume-tab">
        <h1 style="font-family: 'Odibee Sans', cursive; font-size: 5.5rem;
        padding: 12px;">My Resume</h1>
        <p id="basic_font_and_centering" style="font-size: large;">To access this feature ,you will have to login.</p>
        <div id="basic_font_and_centering" class="container w-80 p-5 border border-sucess" style="background: white;">
            <div id="MR_login" class="d-flex justify-content-center container w-80 p-5" style="background: white;">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Login_modal"
                    style=" font-size: 1.5rem;  cursor: pointer; border-radius: 15px; border: 10px solid white">Login</button>
            </div>
            <div style="font: bolder; font-size: 50px;background: white;" class="container w-80 p-5">Or</div>
            <div id="MR_Sign_Up" class="d-flex justify-content-center container w-80 p-5" style="background: white;">
                <button class="btn btn-primary" data-toggle="modal" data-target="#Sign_Up_modal"
                    style=" font-size: 1.5rem;  cursor: pointer; border-radius: 15px; border: 10px solid white">Sign Up
                    Now</button>
            </div>
        </div></div><br>
        <br>
{% endif %}
        <!--After Login-->

    
    <br>
    
    <!--About-->
    <div class="tab-pane fade" id="About" role="tabpanel" aria-labelledby="About-tab">
        
        <h1 style="font-family: 'Odibee Sans', cursive; font-size: 5.5rem;
        padding: 12px;">About the creators:</h1> <br>
        <div class="jumbotron border border-success" id="basic_font_and_centering">
            <h1 class="display-4">Hey There Awesome Human!</h1>
            <p class="lead">We are NXT-Debuggers : A team of four first-year students from Veermata Jijabai Technological Institute-Mumbai, aiming to give you a simple and easy to use Resume Maker web-app.This web-app was made as a project for the competetion "Inheritance-2020" organised by the "Community of Coders-VJTI". We thank our mentors at COC VJTI for the guidance and  overseeing our project. Special thanks to <a target="blank" href="https://www.linkedin.com/in/shubham-nazare-a23535190">Shubham Nazare</a> for the help and guidance.</p>
            <a class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#creators_info"
                aria-expanded="false" aria-controls="collapseExample">More about the creators</a>
        </div>
        <div class="collapse" id="creators_info">
            <div  class="card-group row row-cols-2 row-cols-md-4"
            style="font-family: 'Ubuntu', sans-serif;">
            <div id="card" class="card border border-sucess">
                <img src="{{ url_for('static',filename='about_s.jpg') }}"  class="card-img-top rounded-lg" alt="Photo of Team Leader">
                <div class="card-body">
                    <h5 class="card-title">Sameep Kulkarni</h5>
                    <p id="text" class="card-text">Greetings! I am Sameep and I'm the team Leader of NXT-Debuggers.I'm currently studying B-Tech in Mechanical Engineering.I'm very sure that you'll like our web-app.</p>

                    <div style="margin: 40%;">
                        <a target="blank" href="https://www.linkedin.com/in/sameep-kulkarni-513472191"><img src="{{ url_for('static',filename='LinkedIn.jpg') }}" class="card-img-bottom" alt="LinkedIn Profile"></a> </div>
                </div>
            </div>

            <div id="card" class="card border border-sucess">
                <img src="Dummy_logo.jpg" class="card-img-top rounded-lg" alt="Photo of Member">
                <div class="card-body">
                    <h5 class="card-title">Karthik Swaminathan</h5>
                    <p id="text" class="card-text">This card has supporting text below as a natural lead-in to
                        additional content.</p>
                    <div style="margin: 40%;">
                        <a target="blank" href="https://www.linkedin.com/in/karthik-swaminathan-24644a1a2"><img src="{{ url_for('static',filename='LinkedIn.jpg') }}" class="card-img-bottom" alt="LinkedIn Profile"></a>
                    </div>
                </div>
            </div>
            <div id="card" class="card border border-sucess">
                <img src="Dummy_logo.jpg" class="card-img-top rounded-lg" alt="Photo of Member">
                <div class="card-body">
                    <h5 class="card-title">Chaitanya Apte</h5>
                    <p id="text" class="card-text">This card has supporting text below as a natural lead-in to
                        additional content.</p>
                    <div style="margin: 40%;">
                        <a target="blank" href="https://www.linkedin.com/in/chaitanya-apte-a0b2821a3"><img src="{{ url_for('static',filename='LinkedIn.jpg') }}" class="card-img" alt="LinkedIn Profile"></a>
                    </div>
                </div>
            </div>

            <div id="card" class="card border border-sucess">
                <img src="{{ url_for('static',filename='about_p.jpg') }}" class="card-img-top rounded-lg" alt="Photo of Member">
                <div class="card-body">
                    <h5 class="card-title">Prahlad Amudan</h5>
                    <p id="text" class="card-text">Hi! My name is Prahlad and I am currently pursuing my undergrad
                        in mechanical engineering.Hope you like our Resume Maker and get the resume you always
                        wanted!
                    <div style="margin: 40%;">
                        <a target="blank" href="https://www.linkedin.com/in/prahlad-amudan-060598155/"><img src="{{ url_for('static',filename='LinkedIn.jpg') }}"
                                class="card-img" alt="LinkedIn Profile"></a>
                        <div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br><br>
            <div class="text-center">
            <p style=" font-family: 'Ubuntu', sans-serif; font-size: x-large;">Finally we would like to say :</p>
                <img src="{{ url_for('static',filename='about_meme.jpg') }}" class="rounded" alt="It ain't much,but it's honest work :)">
            </div>
        </div>
  
    </div>
    <br> <br>

</fieldset>

<footer class="container-fluid" id="footer">
<nav class="container" style="text-align: center;" ><a target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSepaS6YZZfsGDIV1gMw091olEPFE9I7Ns9kG6_a5ow_STox3w/viewform?usp=pp_url" style="text-align: center; color: white;">Tell us how your experience with our Resume Maker was,so that we can make it even better for you :)</a></nav>
</footer>    






 
<!-- Modal -->
<!--Login Modal-->
<div class="modal fade" id="Login_modal" tabindex="-1" role="dialog" aria-labelledby="Login_modal-label" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Login_modal-label">Log into your Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('login') }}" method="POST">
               
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
                  
                
                
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                <small class="text-muted">Kindly Remember your password till the time we add the "Forgot Password" feature.</small>
                <br>
             
              {{ msg }}
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Log In</button>  </form>
        </div>
      </div>
    </div>
  </div>
  <!--end of Login Modal-->
  <!--Sign Up Modal-->
  <div class="modal fade" id="Sign_Up_modal" tabindex="-1" role="dialog" aria-labelledby="Sign_Up_modal-label" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Sign_Up_modal-label">Sign Up to make your Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('register') }}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input type="password" class="form-control"name="cpassword" id="exampleInputPassword1">
                </div><br>
              
              {{ msg }}
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Sign Up</button></form>
        </div>
      </div>
    </div>
  </div>

  <!--End of Sign Up Modal-->
  <!--End of Modal-->


















<!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>