<!DOCTYPE html>
<html>

<head>
    <title>
        Log In page
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">


</head>

<body>
    <!--
        IT IS HOME PAGE.
        WE ARE GOING TO WORK ON IT LATER.
        OPEN FOLDER '0' TO START WORKING AND SAVE FILES IN IT.
        REPORT ABOUT CHANGES AND FILE IN WORK TO WHATSAPP GROUP TO KEEP EVERYONE UPDATED
-->
    <a href="0/index.html">
        <div class="fornow"><span>This page is under construction. Please, click here to visit site.</span></div>
    </a>
    <section>
        <div class="container">

            
                <div class="user signupBx">

                    <div class="formBx">
                        <form action="{{ url_for('register') }}" method="POST">
                            <h2>Create An Account</h2>
                            <input type="text" name="username" placeholder="User Name">
                            <input type="email" name="email" placeholder="youremail@example.com">
                            <input type="password" name="password" placeholder="Create Password">
                            <input type="password" name="cpassword" placeholder="Confirm Password">
                            <div>{{ msg }}</div>
                            <input type="submit" name="" value="Sign Up">
                            <p class="signup"> Already have an account ? <a href="{{ url_for('login') }}">Sign In.</a></p>
                        </form>
                    </div>
                    <div class="imgbox"><img src="{{ url_for('static',filename='login.jpg') }}" title="Go get it!"></div>
                </div>
               
            </div>
    </section>



    
</body>

</html>
