                /* 1 first css file
You may make differnt files for differnt purposes.
REPORT ABOUT CHANGES AND FILE IN WORK TO WHATSAPP GROUP TO KEEP EVERYONE UPDATED.*/
                
                body {
                    font-family: 'Karla', sans-serif;
                    font-size: 1.3em;
                    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
                }
                
                .container {
                    margin: auto;
                }
                
                 ::-webkit-input-placeholder {
                    text-align: center;
                    font-size: 1.2em;
                }
                
                div .address {
                    margin: auto;
                    justify-content: center;
                }
                
                legend {
                    display: block;
                    font-family: 'Bree Serif', serif;
                    font-size: 40px;
                    margin: auto;
                    color: #19a2da;
                }
                
                .duration,
                .cancel {
                    float: right;
                }
                
                input,
                textarea {
                    margin: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                    color: black;
                    background-color: #ffffff;
                    justify-content: center;
                }
                
                textarea {
                    width: 100%;
                }
                
                input {
                    text-align: center;
                }
                
                textarea {
                    width: 100%;
                }
                
                label {
                    display: inline;
                    font-size: 1.3em;
                }
                
                fieldset {
                    display: block;
                    margin: 2%;
                    padding: 3%;
                    width: 100%;
                }
                
                #URL {
                    font-size: 0.4em;
                    font-variant: small-caps;
                    color: black;
                    text-indent: 3%;
                }
                
                .links {
                    clear: both;
                    float: left;
                }
                
                .next {
                    margin: auto;
                }
                
                input[type="url"] {
                    width: 100%;
                }